<%@ page import = "Maestros.MaestroClasificacion" %>

<div class = "fieldcontain">
	
	<label for = "descripcion"> Descripción <span class = "required-indicator">*</span> </label> 
	
	<g:textField size = "50" name = "descripcion" required = "" value = "${maestroClasificacionInstance?.descripcion}"/>

</div>