<%@ page import = "Maestros.MaestroCorreo" %>

<div class = "fieldcontain">
	
	<label for = "correo"> Correo <span class = "required-indicator">*</span> </label> <g:textField name = "correo" required = "" value = "${maestroCorreoInstance?.correo}"/>

</div>