<%@ page import = "Maestros.MaestroRegion" %>

<div class = "fieldcontain">
	
	<label for = "descripcion"> Descripción <span class = "required-indicator">*</span> </label> <g:textField name = "descripcion" required = "" value = "${maestroRegionInstance?.descripcion}"/>

</div>