<table class = "table-form" style = "width:40%; margin-left:30%"> 
	
	<thead> 
		
		<tr> 
			<th> Transportista </th> <th> Planta </th> <th> Cantidad </th> 
		</tr> 
	
	</thead> 
	
	<tbody>
	
		<g:each in = "${consulta}" var = "resultado" status = "i">
		
			<tr> <td> ${resultado[0]} </td> <td> ${resultado[1]} </td> <td> ${resultado[2]} </td> </tr>
		
		</g:each>
		
	</tbody>
	
</table>

<br/>