@charset "utf-8";

/* CSS Document */

/* css formulario limpio */

form
{	
	padding-top:20px;
	width:100%;
	height:auto;	
}

.trhead
{	
	width: auto;
	color: white;
	font-size: 16px;	
	text-shadow:1px 1px 5px #000000;	
	background-color:#363636; 
	border: thin solid black;
}

.tr 
{
	border: thin solid black;
}

.table-form 
{		
	font-size:12px;
	margin-left:5%;
	margin-right:5%;
	width:90%;
	height:auto;
	border: thin solid black;
	background-color:#dbdbdf;
	color:black;	
	padding-bottom: 30px;
}

#observacion 
{
	text-align: center;
	size: 20cm;
}

#tr
{
	width: 70%;
}

.table-responsive 
{
  display: block;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered { border: 0; }
