/* Styles for mobile devices */

@media screen and (max-width: 480px) 
{
	body
	{
		background: #ddd;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	}
	
	#imgCabecera
	{
		width: 100%;
		margin-top: -2.2%;
	}
	
	html
	{
		background-color: #ddd;
		background-image: -moz-linear-gradient(center top, #aaa, #ddd);
		background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #aaa), color-stop(1, #ddd));
		background-image: linear-gradient(top, #aaa, #ddd);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#aaaaaa', EndColorStr = '#dddddd');
		background-repeat: no-repeat;
		height: 100%;
	}

	form
	{	
		padding-top:20px;
		width:480px;
		height:auto;	
		border-radius:20px;
		/*background-image: linear-gradient(to bottom, #04216b, #2980b9);*/	 
	}

	.trhead{	
		color: white;
		font-size: 16px;
		font-style: oblique;	
		text-shadow:1px 1px 5px #000000;
		background-image: linear-gradient(to bottom,#04216b, #2980b9);
		border-radius: 5px ;
		width: auto;
		height: auto;	
	}
	
	.table-form {		
		font-size:12px;
		margin-left:15%;
		margin-right:15%;
		width:480px;
		height:auto;
		background-image: linear-gradient(to bottom,#BDBDBD, white);
		color:blue;
		border-radius:20px;	
		padding-bottom: 30px;
	}
	.nav {
		padding: 0.5em;
	}

	.nav li {
		margin: 0 0.5em 0 0;
		padding: 0.25em;
	}

	/* Hide individual steps in pagination, just have next & previous */
	.pagination .step, .pagination .currentStep {
		display: none;
	}

	.pagination .prevLink {
		float: left;
	}

	.pagination .nextLink {
		float: right;
	}

	/* pagination needs to wrap around floated buttons */
	.pagination {
		overflow: hidden;
	}

	/* slightly smaller margin around content body */
	fieldset,
	.property-list {
		padding: 0.3em 1em 1em;
	}

	input, textarea {
		width: 100%;
		   -moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		    -ms-box-sizing: border-box;
		        box-sizing: border-box;
	}

	select, input[type=checkbox], input[type=radio], input[type=submit], input[type=button], input[type=reset] 
	{
		width: auto;
	}

	/* hide all but the first column of list tables */
	.scaffold-list td:not(:first-child),
	.scaffold-list th:not(:first-child) {
		display: none;
	}

	.scaffold-list thead th {
		text-align: center;
	}

	/* stack form elements */
	.fieldcontain {
		margin-top: 0.6em;
	}

	.fieldcontain label,
	.fieldcontain .property-label,
	.fieldcontain .property-value {
		display: block;
		float: none;
		margin: 0 0 0.25em 0;
		text-align: left;
		width: auto;
	}

	.errors ul,
	.message p {
		margin: 0.5em;
	}

	.error ul {
		margin-left: 0;
	}
	
	/*Menu Desplegable */
	
	
	#nav, #nav ul 
	{
    	list-style: none outside none;
    	margin: 0;
    	padding: 0;
	}
	
	#nav 
	{
		margin-top: -4px;
    	background-color: #363636;
    	font-size: 13px;
    	height: 40px;
    	position: relative;
	}

	#nav ul 
	{
    	background-color: #222;
    	border: 1px solid #222;
    	border-radius: 0 5px 5px 5px;
    	border-width: 0 1px 1px;
    	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    	left: -9999px;
    	overflow: hidden;
    	position: absolute;
    	top: -9999px;
    	z-index: 2;
    	-moz-transform: scaleY(0);
    	-ms-transform: scaleY(0);
    	-o-transform: scaleY(0);
    	-webkit-transform: scaleY(0);
    	transform: scaleY(0);
    	-moz-transform-origin: 0 0;
    	-ms-transform-origin: 0 0;
    	-o-transform-origin: 0 0;
    	-webkit-transform-origin: 0 0;
    	transform-origin: 0 0;
    	-moz-transition: -moz-transform 0.1s linear;
    	-ms-transition: -ms-transform 0.1s linear;
    	-o-transition: -o-transform 0.1s linear;
    	-webkit-transition: -webkit-transform 0.1s linear;
    	transition: transform 0.1s linear;
	}

	#nav li 
	{
		border-right: solid 1px white;
    	float: left;
    	position: relative;  
	}

	#nav li a 
	{
	    color: #FFFFFF;
	    display: block;
	    float: left;
	    font-weight: normal;
	    height: 25px;
	    padding: 15px 15px 0;
	    position: relative;
	    text-decoration: none;
	    text-shadow: 1px 1px 1px #000000;
	}
	
	#nav li:hover > a 
	{
		background-color: #171717;
	}

	#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active 
	{
	    background: none repeat scroll 0 0 #121212;
	    outline: 0 none;
	}

	#nav li:hover ul.subs 
	{
    	left: 0;
    	top: 40px;
	    width: 230px;
    	-moz-transform: scaleY(1);
    	-ms-transform: scaleY(1);
	    -o-transform: scaleY(1);
	    -webkit-transform: scaleY(1);
	    transform: scaleY(1);
	}
	
	#nav ul li 
	{
	    background: none;
	    width: 100%;
	    padding-bottom: 10px;
	}
	
	#nav ul li a 
	{
	    float: none;
	}
	
	#nav ul li:hover > a 
	{
	    background-color: #121212;
	}
	
}
