/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/

.btoReporte
{
	background-color: black;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button 
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
}
#cssmenu:after,
#cssmenu > ul:after 
{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button 
{
  display: none;
}
#cssmenu 
{
  width: auto;
  border-radius: 3px;
  color:  #383836;
  background: -o-linear-gradient(top, #383836, #383836);
  background: -ms-linear-gradient(top, #383836, #383836);
  background: -webkit-linear-gradient(top, #383836, #383836);
  background: -moz-linear-gradient(top, #383836, #383836);
  background: linear-gradient(to bottom, #383836, #383836);
  box-shadow: inset 0 -3px 0 #383836, inset 0 -3px 3px #383836, inset 0 2px 2px #383836, inset 1px 0 2px #383836, inset -1px 0 2px #383836, 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.06), 0 3px 3px rgba(0, 0, 0, 0.17), 2px 1px 2px rgba(0, 0, 0, 0.05), -2px 1px 2px rgba(0, 0, 0, 0.05);
}
#cssmenu.align-center > ul 
{
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center ul ul 
{
  text-align: left;
}
#cssmenu.align-center > ul > li 
{
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li 
{
  float: right;
}
#cssmenu.align-right ul ul 
{
  text-align: right;
}
#cssmenu > ul > li 
{
  float: left;
}
#cssmenu > ul > li > a 
{
  padding: 20px 25px;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a 
{
  color: white;
}
#cssmenu > ul > li.has-sub > a 
{
  padding-right: 40px;
}
#cssmenu ul > li.has-sub > a:after 
{
  content: '';
  position: absolute;
  right: 5px;
  top: 17.5px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #383836;
  background: -webkit-linear-gradient(top, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
  background: -ms-linear-gradient(top, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
  background: -moz-linear-gradient(top, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
  background: -o-linear-gradient(top, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
  background: linear-gradient(to bottom, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
  box-shadow: inset 0 -1px 1px #191919,	 inset 0 2px 1px black;
  background-size: 36px 36px;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
#cssmenu ul > li.has-sub:hover > a:after 
{
  background-position: 0 -18px;
}
#cssmenu ul > li.has-sub > a:before 
{
  content: '';
  position: absolute;
  right: 11px;
  top: 25.5px;
  display: block;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  z-index: 2;
}
#cssmenu ul > li.has-sub:hover > a:before 
{
  border-top-color: #ffffff;
}
#cssmenu ul ul 
{
  position: absolute;
  left: -9999px;
  opacity: 0;
  -webkit-transition: top .2s ease, opacity .2s ease;
  -moz-transition: top .2s ease, opacity .2s ease;
  -ms-transition: top .2s ease, opacity .2s ease;
  -o-transition: top .2s ease, opacity .2s ease;
  transition: top .2s ease, opacity .2s ease;
}
#cssmenu > ul > li > ul 
{
  top: 91px;
  padding-top: 8px;
  border-radius: 5px;
}
#cssmenu > ul > li:hover > ul 
{
  left: auto;
  top: 51px;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul 
{
  right: 0;
}
#cssmenu ul ul ul 
{
  top: 40px;
}
#cssmenu ul ul > li:hover > ul 
{
  top: 0;
  left: 178px;
  padding-left: 10px;
  opacity: 1;
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 178px;
  padding-left: 0;
  padding-right: 10px;
  opacity: 1;  
}
#cssmenu ul ul li a {
  width: 180px;
  padding: 12px 25px;
  font-size: 12.5px;
  font-weight: 500;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
  text-decoration: none;
  background:  #383836;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;  
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li > a:hover,
#cssmenu ul ul li.active > a {
  color: #b4b4b4;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: inset 0 3px 0 #191919;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: inset 0 -3px 0 #191919;
}
#cssmenu ul ul > li.has-sub > a:after {
  right: 12px;
  top: 9.5px;
  background: #383836;
  background: -webkit-linear-gradient(top, #004b89 0%, #004b89 25%, #004b89 50%, #004b89 75%, #004b89 100%);
  background: -ms-linear-gradient(top, #004b89 0%, #004b89 25%, #004b89 50%, #004b89 75%, #004b89 100%);
  background: -moz-linear-gradient(top, #004b89 0%, #004b89 25%, #004b89 50%, #004b89 75%, #004b89 100%);
  background: -o-linear-gradient(top, #004b89 0%, #004b89 25%, #004b89 50%, #004b89 75%, #004b89 100%);
  background: linear-gradient(to bottom, #004b89 0%, #004b89 25%, #004b89 50%, #004b89 75%, #004b89 100%);  
  background-size: 36px 36px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
#cssmenu.align-right ul ul > li.has-sub > a:after {
  right: auto;
  left: 12px;
}
#cssmenu ul ul > li.has-sub:hover > a:after {
  background-position: 0 -18px;
}
#cssmenu ul ul > li.has-sub > a:before {
  top: 15.5px;
  right: 16px;
  border-top-color: transparent;
  border-left-color: #ffffff;
}
#cssmenu.align-right ul ul > li.has-sub > a:before {
  top: 15.5px;
  right: auto;
  left: 16px;
  border-top-color: transparent;
  border-right-color: #ffffff;
  border-left-color: transparent;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  border-top-color: transparent;
  border-left-color: #1c89b5;
}
#cssmenu.align-right ul ul > li.has-sub:hover > a:before {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color:  #383836;
}
#cssmenu ul li:hover > a
{
	color:#b4b4b4;
}

@media all and (max-width: 783px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul,
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu > ul,
  #cssmenu.align-center > ul,
  #cssmenu > ul > li > ul,
  #cssmenu > ul > li:hover > ul,
  #cssmenu ul ul li:hover > ul,
  #cssmenu ul ul ul li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul ul li:hover > ul,
  #cssmenu.align-right ul ul ul li:hover > ul {
    position: relative;
    left: 0;
    right: auto;
    top: 0;
    width: 100%;
    display: none;
    padding: 0;
    opacity: 1;
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu > ul > li > a,
  #cssmenu ul ul li a,
  #cssmenu ul ul li:first-child > a,
  #cssmenu ul ul li:last-child > a {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    background: none;
  }
  #cssmenu ul li a {
    padding-left: 12.5px;
  }
  #cssmenu ul ul li a {
    padding: 14px 25px 14px 27.5px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 42.5px;
  }
  #cssmenu ul ul ul ul li a {
    padding-left: 57.5px;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul li.has-sub > a:after,
  #cssmenu ul ul li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    position: relative;
    display: block;
    padding: 20px;
    padding-left: 12.5px;
    cursor: pointer;
    font-size: 13px;
    color: #ffffff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  }
  #cssmenu .submenu-button {
    position: absolute;
    right: 0;
    display: block;
    width: 53px;
    height: 53px;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    z-index: 10;
    cursor: pointer;
  }
  #cssmenu ul ul .submenu-button {
    height: 41px;
  }
  #cssmenu ul .submenu-button:after,
  #cssmenu #menu-button:after {
    content: '';
    position: absolute;
    right: 12.5px;
    top: 12.5px;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 15px;
    background:  #383836;
    background: -webkit-linear-gradient(top, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
    background: -ms-linear-gradient(top, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
    background: -moz-linear-gradient(top, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
    background: -o-linear-gradient(top, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
    background: linear-gradient(to bottom, #383836 0%, #383836 25%, #383836 50%, #383836 75%, #383836 100%);
    box-shadow: inset 0 -1px 1px black, inset 0 2px 1px #ffffff;
    background-size: 56px 56px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  #cssmenu ul .submenu-button.submenu-opened:after,
  #cssmenu #menu-button.menu-opened:after {
    background-position: 0 -28px;
  }
  #cssmenu ul ul .submenu-button:after {
    top: 6.5px;
  }
  #cssmenu #menu-button:before,
  #cssmenu .submenu-button:before {
    content: '';
    position: absolute;
    right: 22.5px;
    top: 25.5px;
    display: block;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    z-index: 99;
  }
  #cssmenu ul ul .submenu-button:before {
    top: 19.5px;
  }
  #cssmenu #menu-button.menu-opened:before,
  #cssmenu .submenu-button.submenu-opened:before {
    border-top-color: #000000;
  }
}